<template>
  <div class="contacts-loader">
    <button
      class="btn btn-success btn-lg"
      :class="{'btn-loading': isLoading}"
      @click="getContacts"
    >Показать пользователей</button>

    <div class="contacts-loader-error" v-if="error">{{error}}</div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "ContactsLoader",
  data: () => {
    return {
      isLoading: false,
      error: ""
    };
  },
  methods: {
    ...mapActions({ fetchContacts: "getContacts" }),
    getContacts() {
      this.isLoading = true;
      this.fetchContacts()
        .then(() => {
          this.isLoading = false;
        })
        .catch(err => {
          this.isLoading = false;
          this.error = `${err.message}`;
        });
    }
  }
};
</script>

<style lang="scss">
.contacts-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 5;
  padding-top: 10vh;
  text-align: center;
}

.contacts-loader-error {
  color: #cc4444;
  font-weight: 500;
  margin-top: 30px;
}

.btn-loading {
  position: relative;
  overflow: hidden;

  &:before {
    content: "Loading";
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    text-align: center;
  }
}
</style>