<template>
  <div class="overlay" @click.self="closeModal" @keydown.esc="closeModal" tabindex="0">
    <div class="c-modal">
      <div class="c-modal__content">
        <div class="c-modal__header">
          <h5 class="c-modal__title">{{modalTitle}}</h5>
          <div class="c-modal__close" @click="closeModal"></div>
        </div>
        <div class="c-modal__body">
          <ContactsModalRow
            v-for="(value, key) in content"
            :key="key"
            :title="key"
            :content="value"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ContactsModalRow from "@/components/ContactsModalRow";

export default {
  name: "ContactsModal",
  components: {
    ContactsModalRow
  },
  props: {
    modalTitle: {
      type: [String, Number],
      required: true
    },
    content: {
      type: [Object, Array],
      required: true
    }
  },
  methods: {
    closeModal() {
      this.$store.commit("setModalContent", null);
    }
  },
  mounted() {
    this.$el.focus();
  }
};
</script>

<style lang="scss">
.overlay {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(#000, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;

  &:focus {
    outline: none;
  }
}

.c-modal {
  width: 90%;
  max-width: 400px;
  max-height: 90%;
  background-color: #fff;
  border-radius: 10px;
  overflow: auto;
  position: relative;

  &__header {
    margin-bottom: 1.5em;
  }

  &__title {
    margin-bottom: 0;
    text-align: center;
    font-weight: 700;
  }

  &__close {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s;

    &:before,
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: #444;
      position: absolute;
      top: 50%;
      left: 0;
      border-radius: 2px;
      transform-origin: center;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }

    &:hover {
      opacity: 1;
    }
  }

  &__content {
    padding: 35px 30px;
    padding-top: 35px;
  }
}
</style>