<template>
  <div class="table-responsive mb-5">
    <div v-if="!contactsArray.length" class="empty">Ничего не найдено</div>

    <table class="contacts-table table table-striped table-hover mb-0" v-else>
      <thead>
        <tr>
          <th
            v-for="(column, index) in tableColumns"
            :key="index"
            :class="{active: sortOptions.parameter == column}"
            class="sort-btn"
            @click="sort(column)"
          >
            {{local && local[column] ? local[column] : column}}
            <div class="sort-btn__icons">
              <div
                class="sort-btn__icon"
                :class="{'active': sortOptions.type === 'az' && sortOptions.parameter === column}"
              ></div>
              <div
                class="sort-btn__icon"
                :class="{'active': sortOptions.type === 'za' && sortOptions.parameter === column}"
              ></div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(contact) in contactsArray" :key="contact.id" @click="selectContact(contact.id)">
          <td v-for="(column, index) in tableColumns" :key="index">{{contact[column]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "ContactsTable",
  props: {
    contactsArray: {
      type: Array,
      required: true
    },
    tableColumns: {
      type: Array,
      required: true
    }
  },
  data: () => {
    return {
      sortOptions: {
        type: null,
        parameter: null
      }
    };
  },
  computed: {
    local() {
      return this.$store.getters.getLocalization;
    }
  },
  methods: {
    sort(parameter) {
      let type;
      if (
        parameter === this.sortOptions.parameter &&
        this.sortOptions.type === "az"
      ) {
        type = "za";
      } else {
        type = "az";
      }
      this.sortOptions.parameter = parameter;
      this.sortOptions.type = type;
      this.$emit("sort", { parameter, type });
    },
    selectContact(contactId) {
      this.$emit("selectContact", contactId);
    }
  }
};
</script>

<style lang="scss" >
.contacts-table {
  tbody {
    tr {
      cursor: pointer;
    }
  }
}

.sort-btn {
  cursor: pointer;
  position: relative;
  padding-right: 20px !important;

  &:hover {
    .sort-btn {
      &__icons {
        opacity: 0.5;
      }
    }
  }

  &.active {
    .sort-btn {
      &__icons {
        opacity: 1;
      }
    }
  }

  &__icons {
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
    opacity: 0;
  }

  &__icon {
    width: 11px;
    height: 9px;
    background-image: url(../assets/icons/up-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.5;

    &:last-child {
      transform: rotate(180deg);
    }

    &.active {
      opacity: 1;
    }
  }
}

.empty {
  text-align: center;
  font-size: 35px;
  color: #888;
  font-weight: 700;
}
</style>