<template>
  <div class="contacts">
    <ContactsSearch @search="onSearch" />

    <ContactsTable
      :contactsArray="contactsToRender"
      :tableColumns="tableColumns"
      @sort="onSort"
      @selectContact="onContactSelect"
    />

    <ContactsPagination
      :pageCount="pageCount"
      :currentPageIndex="currentPageIndex"
      @changePage="onPageChange"
    />

  </div>
</template>

<script>
import { mapMutations, mapGetters } from "vuex";

import ContactsSearch from "@/components/ContactsSearch";
import ContactsTable from "@/components/ContactsTable";
import ContactsPagination from "@/components/ContactsPagination";

const searchInObj = (obj, value) => {
  return Object.values(obj).some(el => {
    return el
      .toString()
      .toLowerCase()
      .includes(value.toLowerCase());
  });
};

const search = (array, parameter) => {
  if (!parameter) return array;
  return array.filter(el => searchInObj(el, parameter));
};

const sort = (array, { parameter, type }) => {
  if (!parameter || !type) return array;
  return array.sort((a, b) => {
    const propA = a[parameter].toLowerCase();
    const propB = b[parameter].toLowerCase();
    switch (type) {
      case "az":
        if (propA < propB) return -1;
        if (propA > propB) return 1;
        break;
      case "za":
        if (propA > propB) return -1;
        if (propA < propB) return 1;
        break;
    }
  });
};

const pagination = (array, startIndex, size) => {
  const start = startIndex * size;
  const end = start + size;
  return array.slice(start, end);
};

export default {
  name: "Contacts",
  components: {
    ContactsTable,
    ContactsPagination,
    ContactsSearch
  },
  props: {
    contactsArray: {
      type: Array,
      required: true
    },
    contactsPerPage: {
      type: Number,
      required: false,
      default: 10
    },
    tableColumns: {
      type: Array,
      required: true
    }
  },
  data: () => {
    return {
      currentPageIndex: 0,
      searchOptions: "",
      sortOptions: {
        type: null,
        parameter: null
      }
    };
  },
  methods: {
    ...mapMutations(['setModalContent']),
    onPageChange(page) {
      this.currentPageIndex = page;
    },
    onSearch(searchPharse) {
      this.searchOptions = searchPharse;
      this.currentPageIndex = 0;
    },
    onSort({ parameter, type }) {
      this.sortOptions.type = type;
      this.sortOptions.parameter = parameter;
    },
    onContactSelect(contactId) {
     this.setModalContent(this.getContactById(contactId));
    }
  },
  computed: {
    ...mapGetters(["getContactById"]),
    pageCount() {
      let contactsCount = search(this.contactsArray, this.searchOptions).length;
      let contactsPerPage = this.contactsPerPage;
      return Math.ceil(contactsCount / contactsPerPage);
    },
    contactsToRender() {
      const searched = search(this.contactsArray, this.searchOptions);
      const sorted = sort(searched, this.sortOptions);
      return pagination(sorted, this.currentPageIndex, this.contactsPerPage);
    }
  }
};
</script>

<style lang="scss">
.contacts {
  padding-top: 30px;
  padding-bottom: 30px;
}
</style>