<template>
  <ul class="pagination justify-content-center mb-0">
    <li class="page-item" :class="{disabled: currentPageIndex === 0}" v-if="linksCount < pageCount">
      <button class="page-link" @click="changePage(0)">«</button>
    </li>

    <li class="page-item mr-2" :class="{disabled: currentPageIndex === 0}" v-if="pageCount > 1">
      <button class="page-link" @click="changePage(currentPageIndex - 1 )">‹</button>
    </li>

    <li
      class="page-item"
      v-for="page in visibleLinks"
      :key="page.index"
      :class="{ active: page.index === currentPageIndex }"
    >
      <button class="page-link" @click="changePage(page.index)">{{page.name}}</button>
    </li>

    <li
      class="page-item ml-2"
      :class="{disabled: currentPageIndex === pageCount - 1}"
      v-if="pageCount > 1"
    >
      <button class="page-link" @click="changePage(currentPageIndex + 1)">›</button>
    </li>

    <li
      class="page-item"
      :class="{disabled: currentPageIndex === pageCount -1}"
      v-if="linksCount < pageCount"
    >
      <button class="page-link" @click="changePage(pageCount - 1)">»</button>
    </li>
  </ul>
</template>

<script>
export default {
  name: "ContactsPagination",
  props: {
    pageCount: {
      type: Number,
      required: true
    },
    currentPageIndex: {
      type: Number,
      required: true
    },
    linksCount: {
      type: Number,
      required: false,
      default: 3
    }
  },
  computed: {
    visibleLinks() {
      let links = [];
      let firstPage;
      let lastPage;
      let sideLinksCount = Math.floor((this.linksCount - 1) / 2);

      if (this.pageCount <= 1) return 0;

      if (this.linksCount < this.pageCount) {
        // первые ссылки
        if (this.currentPageIndex < this.linksCount - 1 - sideLinksCount) {
          firstPage = 0;
          lastPage = firstPage + this.linksCount;
        }
        // средние ссылки
        else if (this.currentPageIndex < this.pageCount - 1 - sideLinksCount) {
          firstPage = this.currentPageIndex - sideLinksCount;
          lastPage = firstPage + this.linksCount;
        }
        // последние ссылки
        else {
          firstPage = this.pageCount - this.linksCount;
          lastPage = this.pageCount;
        }
      } else {
        firstPage = 0;
        lastPage = this.pageCount;
      }

      for (let i = firstPage; i < lastPage; i++) {
        links.push({ index: i, name: i + 1 });
      }

      return links;
    }
  },
  methods: {
    changePage(index) {
      this.$emit("changePage", index);
    }
  }
};
</script>

<style>
</style>