<template>
  <div class="contact-info" :class="{'contact-info--parent': typeof(content) === 'object'}">
    <div class="contact-info__title">{{local && local[title] ? local[title] : title}}</div>
    <div class="contact-info__content">
      <div v-if="typeof(content) === 'object'" class>
        <ContactsModalRow v-for="(value, key) in content" :key="key" :title="key" :content="value" />
      </div>
      <div v-else>{{content}}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ContactsModalRow",
  props: {
    title: {
      type: String,
      required: true
    },
    content: {
      type: [Object, String, Number],
      required: true
    }
  },
  computed: {
    local() {
      return this.$store.getters.getLocalization;
    }
  }
};
</script>

<style lang="scss">
.contact-info {
  display: flex;
  line-height: 1;

  &:before {
    content: "";
    display: block;
    height: 1em;
    flex: 1;
    border-bottom: 1px dotted #888;
    order: 1;
    margin: 0px 15px;
  }

  &:not(:last-child) {
    margin-bottom: 1em;
  }

  &__title {
    font-weight: 700;
  }

  &__content {
    order: 2;
  }
}

.contact-info--parent {
  flex-direction: column;

  &:before {
    display: none;
  }

  & > .contact-info {
    &__title {
      margin-bottom: 0.8em;
      font-weight: 700;

      &:after {
        content: ":";
        
      }
    }
    
    &__content {
      padding-left: 10px;
      font-size: 0.9em;
    }
  }
}
</style>