<template>
  <form class="form-inline flex-nowrap mb-5" @submit.prevent="search">
    <div class="form-group mr-2 mb-0">
      <input type="text" class="form-control" placeholder="Поиск" v-model="searchPharse" />
    </div>
    <button type="submit" class="btn btn-primary">Найти</button>
  </form>
</template>

<script>
export default {
  name: "ContactsSearch",
  data: () => {
    return {
      searchPharse: ""
    };
  },
  methods: {
    search() {
      this.$emit("search", this.searchPharse);
    }
  }
};
</script>

<style>
</style>