<template>
  <div id="app">
    <div class="container">
      <ContactsLoader v-if="!contacts.length" />

      <Contacts
        v-else
        :contactsArray="formattedContacts"
        :tableColumns="['fullname', 'uname', 'email', 'company', 'state']"
      />

      <ContactsModal
        :content="formattedModalContent"
        :modalTitle="'Информация о контакте'"
        v-if="modalContent"
      />
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

import Contacts from "@/components/Contacts";
import ContactsLoader from "@/components/ContactsLoader";
import ContactsModal from "@/components/ContactsModal";

const contactsListFormatter = array => {
  return array.map(el => {
    return {
      id: el.id,
      fullname: el.fullname,
      uname: el.uname,
      company: el.company,
      email: el.email,
      state: el.address.state
    };
  });
};

const contactFormatter = obj => {
  let objCopy = JSON.parse(JSON.stringify(obj));
  Object.keys(objCopy).forEach(key =>
    key === "id" ? delete objCopy[key] : ""
  );

  return objCopy;
};

export default {
  components: {
    Contacts,
    ContactsLoader,
    ContactsModal
  },
  computed: {
    ...mapGetters({
      contacts: "getContacts",
      modalContent: "getModalContent"
    }),
    formattedModalContent() {
      return contactFormatter(this.modalContent);
    },
    formattedContacts() {
      return contactsListFormatter(this.contacts);
    }
  }
};
</script>




